{
  "presets": [
    // "env",
    // "react",
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-class-properties",
    "react-hot-loader/babel",
    "dynamic-import-node",
    "@babel/plugin-proposal-class-properties",
  ],
  
    // "presets":["@babel/preset-env", "@babel/preset-react"],
    
    // "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"],
    
  "test": [
    "jest"
 ]
}
